@using CarritosCompras.Front.Models.ViewObjects;
@model Producto
@{
    string URL = ViewBag.URL;
}

<div class="card mb-3">
    <img class="card-img-top" src="@string.Concat(URL,"producto/imagen/",Model.imagen)" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.nombre</h5>
        <p class="card-text">@Model.descripcion</p>
        <p class="card-text"><small class="text-muted">@Model.precio</small></p>
        <p class="card-text"><small class="text-muted">@Model.stock</small></p>
    </div>
</div>